<div class="block-area" id="basic">
  <div class="tile p-15" style="min-height: 420px; margin-top: 30px;">
    <div class="col-md-15">
      <div class="page-header position-relative">
        <h1>Macro Operations</h1>
      </div>
      <div class="Table" id="leftDiv">
        <form id="addProjectForm" class="form-horizontal" (ngSubmit)="setLogInterval()">
          <div class="row">
            <div class="col-md-3 m-b-15">
              <label class="control-label">Set Log Interval</label>
              <input type="text" [laMask]="{mask: '99:99:99', outputMask: true}" [ngModel]="loginterval[0]?.interval"
                (ngModelChange)="loginterval[0].interval=$event" [ngModelOptions]="{standalone: true}"
                placeholder="00:00:00" maxlength="8" required>
            </div>
          </div>
          <div class="row">
            <label class="control-label">Start Time (Local 24hr Time)</label>
          </div>
          <div class="row">
            <div class="col-md-3 m-b-15">
              <input type="text" [laMask]="{mask: '99:99', outputMask: true}" [ngModel]="loginterval[0]?.start"
                (ngModelChange)="loginterval[0].start=$event" [ngModelOptions]="{standalone: true}" placeholder="00:00"
                maxlength="5" pattern="99:99" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" style="margin-top: 14px;">
              <button class="btn btn-inverse" type="submit">Save Log Interval</button>
            </div>
          </div>
        </form>
        <br>
        <button class="btn btn-inverse" (click)="startLogging()">Start Logging</button>
        <button class="btn btn-inverse" (click)="stopLogging()">Stop Logging</button>
        <div *ngIf="sendingStartCommand" class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <p>Sending Start Command to the Controller!</p>
        </div>
        <div *ngIf="sendingStopCommand" class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <p>Sending Stop Command to the Controller!</p>
        </div>
        <div *ngIf="controllerSelectedList" class="alert alert-danger"
          style="margin-top: 8px; padding: 5px; font-size: 12px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            (click)="invertControllerSelection()"><span aria-hidden="true">&times;</span></button>
          <p>Select at least one controller from the list!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12" style="margin-top: 30px;">
  <div class="tile" style="min-height: 240px; min-width: 200px; overflow-x:
        auto;">
    <h3 class="tile-title" style="font-size:18px">List of Locations</h3>
    <br />
    <!-- Status of Controllers -->
    <div class="block-area" id="defaultStyle">


      <table class="table desktop">
        <tr>
          <td>Display <input type="text" [(ngModel)]="pagination" size="2">
            records
          </td>
          <td>Search <input type="text" size="20" [(ngModel)]="filter"></td>
          <td style="vertical-align: middle;">
            <input type="radio" name="showctrl" (change)="showAllControllers()">&nbsp;Show All
            Locations&nbsp;&nbsp;&nbsp;
            <input type="radio" name="showctrl" checked="checked" (change)="showControllersCurrentProject()">&nbsp;Show
            Locations in Current Project
          </td>
        </tr>
      </table>
      <table class="table mobile">
        <tr>
          <td>Display <input type="text" [(ngModel)]="pagination" size="2">
            records
          </td>
          <td>Search <input type="text" size="20" [(ngModel)]="filter"></td>
        </tr>
        <tr>
          <td style="vertical-align: middle;">
            <input type="radio" name="showctrl" (change)="showAllControllers()">&nbsp;Show All
            Locations&nbsp;&nbsp;&nbsp;
          </td>
          <td>
            <input type="radio" name="showctrl" checked="checked" (change)="showControllersCurrentProject()">&nbsp;Show
            Locations in Current Project
          </td>
        </tr>
      </table>







      <!-- ------------------------------------------ -->
      <!-- --------- Location List ------------------ -->
      <!-- ------------------------------------------ -->

      <!-- -- Desktop Table -- -->
      <table table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table tile locations-table desktop">
        <thead>
          <tr>
            <th style="vertical-align: middle; "><input style="margin-left: 2%;" type="checkbox" name="selectAll"
                (change)="selectAllControllersByCheckbox($event)"></th>
            <th>LOCATION</th>
            <th>ACTIVE PROJECT</th>
            <th>UID</th>
            <th>VERSION</th>
            <th>STATUS</th>
            <th>CURRENT LOG<br />
              INTERVAL (HH:MM:SS)
            </th>
            <th>START LOGGING
              (HH:MM:SS)
            </th>
            <th>IP#</th>
            <th>SERVER IP</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of controllers; let $index = index">
            <td>
              <input style="margin-left: 2%;" type="checkbox" [checked]="selectAllControllers"
                (change)="getControllerSelected($event, item?.uid)">
            </td>
            <td>
              <span *ngIf="$index !== activeIndex">{{ item.locationDesc }}</span>
              <input *ngIf="$index === activeIndex" type="text" class="form-control" [(ngModel)]="item.locationDesc">
            <td>
              {{ currentProject }}
            </td>
            <td class="text-center">
              <span *ngIf="$index !== activeIndex">{{ item.uid }}</span>
              <input *ngIf="$index === activeIndex" type="text" class="form-control" [(ngModel)]="item.uid"
                style="margin: auto; width: 40%">
            </td>
            <td>{{ item?.version }}</td>
            <td></td>
            <td style="text-align: center;">{{ item?.loginterval }}</td>
            <td style="text-align: center;">{{ item?.startlogging }}</td>
            <td>{{ item?.ip }}</td>
            <td></td>
            <td>
              <a class="btn btn-xs btn-inverse" href="javascript:void(0);" (click)="activeIndex = $index"
                *ngIf="activeIndex != $index" (click)="setRecordToEdit(item)">
                <i class="fas fa-pencil-alt fa-lg"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-xs btn-inverse" *ngIf="activeIndex == $index"
                (click)="updateLocation(item)">
                <i class="far fa-save fa-lg"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="desktop">
        <pagination-controls (pageChange)="currentPage= $event"></pagination-controls>
      </div>

      <!-- -- Mobile Table -- -->
      <div class="locations-cards mobile" *ngFor="let item of controllers; let $index = index">
        <app-mobile-locations-card [index]="$index" [locationId]="item.locationId"
          [locationDescription]="item.locationDesc" [project]="currentProject" [uid]="item.uid" [version]="item.version"
          [status]="item.status" [logintervalTime]="item.loginterval" [logStartTime]="item.startlogging"
          [ipNumber]="item.ip" [ipServer]="" (onEditChanges)="doSaveLocationChanges($event)">
        </app-mobile-locations-card>
      </div>

      <!-- ------------------------------------------ -->







    </div>
  </div>








  <!-- ------------------------------------------ -->
  <!-- --------- Analog Input's Setup  ---------- -->
  <!-- ------------------------------------------ -->

  <div style="z-index: 9; margin-top: 37px; margin-bottom: 10px;">
    <div>
      <label class="control-label">Please Choose Device</label>
      <div>
        <select id="ControllerId" [(ngModel)]="controller" (ngModelChange)="controllerChanged()">
          <option value="">- - - - </option>
          <option *ngFor="let info of controllers;let i = index;" [value]="info.uid">
            {{ info.uid }} - {{ info?.locationDesc }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="tile" style="min-height: 240px; min-width: 200px; overflow-x:
              auto;">
    <h3 class="tile-title" style="font-size:18px">Analog Inputs</h3>
    <br />


    <div class="block-area" id="defaultStyle">
      <form #f="ngForm" (ngSubmit)="setupAnalogInput()">

        <!-- -- Desktop Table -- -->
        <table class="tile table table-bordered table-striped">
          <thead>
            <tr class="ainputs-table-title">
              <th></th>
              <th>NAME</th>
              <th>SHOW IN MAP</th>
              <th>ENABLE CHANNEL</th>
              <th>UNITS</th>
              <th></th>
              <th>ANALOG</th>
              <th>PHYSICAL</th>
              <th>ALARM</th>
              <th>ENABLE ALARM</th>
              <th>TEXT MESSAGE</th>
              <th>ENABLE TRENDING</th>
              <th>TREND TIME (MIN)</th>
              <th>TREND DELTA VALUE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let input of ainputs; let i= index" class="ainputs-table-title">
              <td>
                {{ i + 1 }}
              </td>
              <td>
                <input placeholder="Sensor {{ i + 1 }}" [(ngModel)]="input.name" [ngModelOptions]="{standalone:
                            true}" maxlength="10" size="10">
              </td>
              <td>
                <input type="checkbox" class="tdAlign" [(ngModel)]="input.showinmap"
                  [ngModelOptions]="{standalone: true}">
              </td>
              <td>
                <input type="checkbox" class="tdAlign" [(ngModel)]="input.enable" [ngModelOptions]="{standalone:
                            true}">
              </td>
              <td>
                <input type="text" size="3" [(ngModel)]="input.unit" [ngModelOptions]="{standalone: true}"
                  maxlength="3">
              </td>
              <td>
                <table style="text-align: center;">
                  <tr>
                    <td>Highest</td>
                    <br><br>
                  </tr>
                  <tr>
                    <td>Lowest</td>
                  </tr>
                </table>
              </td>
              <td class="td-center">
            <tr>
              <td><input type="number" [(ngModel)]="input.analog_h" maxlength="5" size="5" [ngModelOptions]="{standalone:
                            true}" style="text-align: center; max-width: 70px;">
              </td>
            </tr>
            <tr>
              <td><input type="number" [(ngModel)]="input.analog_l" maxlength="7" size="5" [ngModelOptions]="{standalone:
                            true}" style="text-align: center; max-width: 70px;">
              </td>
            </tr>
            </td>
            <td class="td-center">
              <tr>
                <td><input type="number" value="0.00" [(ngModel)]="input.physical_h" maxlength="5" size="5"
                    [ngModelOptions]="{standalone: true}" style="text-align: center; max-width: 70px;">
                </td>
              </tr>
              <tr>
                <td><input type="number" value="0.00" [(ngModel)]="input.physical_l" maxlength="5" size="5"
                    [ngModelOptions]="{standalone: true}" style="text-align: center; max-width: 70px;">
                </td>
              </tr>
            </td>
            <td class="td-center">
              <tr>
                <td><input type="number" value="65535.00" [(ngModel)]="input.alarm_h" maxlength="5" size="5"
                    [ngModelOptions]="{standalone: true}" style="text-align: center; max-width: 70px;">
                </td>
              </tr>
              <tr>
                <td><input type="number" value="0.00" [(ngModel)]="input.alarm_l" maxlength="5" size="5"
                    [ngModelOptions]="{standalone: true}" style="text-align: center; max-width: 70px;">
                </td>
              </tr>
            </td>
            <td style="vertical-align: middle;margin-left: auto;
                        margin-right: auto; text-align: center;" class="td-center">
              <tr>
                <td>
                  <input type="checkbox" class="tdAlign" [(ngModel)]="input.enable_alarm_h"
                    [ngModelOptions]="{standalone: true}" style="margin-left: 10px;">
                </td>
                <br><br>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" class="tdAlign" [(ngModel)]="input.enable_alarm_l"
                    [ngModelOptions]="{standalone: true}" style="margin-left: 10px;">
                </td>
              </tr>
            </td>
            <td>
              <tr>
                <td><input type="text" value="High Alarm Warning" [(ngModel)]="input.text_h" size="20"
                    [ngModelOptions]="{standalone: true}" style="text-align: center;">
                </td>
              </tr>
              <tr>
                <td><input type="text" value="Low Alarm Warning" [(ngModel)]="input.text_l" size="20"
                    [ngModelOptions]="{standalone: true}" style="text-align: center;">
                </td>
              </tr>
            </td>
            <td>
              <input type="checkbox" class="tdAlign" [(ngModel)]="input.trendEnable"
                [ngModelOptions]="{standalone: true}">
            </td>
            <td>
              <input type="text" value="5" size="5" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="input.trendTimeMin">
            </td>
            <td>
              <input type="text" value="1000" size="5" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="input.trendDelta">
            </td>
            </tr>
          </tbody>
        </table>

        <!-- -- Mobile Cards -- -->
        <!--
        <div class="analogs-cards mobile" *ngFor="let analogInput of ainputs; let i= index">
          <app-mobile-analogs-card [index]="i" [analog]="analogInput"> </app-mobile-analogs-card>
        </div>
        -->

        <button type="submit" class="btn btn-inverse btn-form">Save Analog
          Inputs</button>
      </form>
    </div>
    <!-- ------------------------------------------ -->




  </div>
  <div class="tile" style="min-height: 240px; min-width: 200px; overflow-x:
        auto;">
    <h3 class="tile-title" style="font-size:18px">Digital Inputs</h3>
    <br />
    <!-- Digital Inputs -->
    <div class="block-area" id="defaultStyle">
      <form #f="ngForm" (ngSubmit)="setupDigitalInput()">
        <table class="tile table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th style="min-width: 50px;vertical-align:
                            middle;margin-left: auto; margin-right: auto;">NAME</th>
              <th style="max-width: 67px;vertical-align:
                            middle;margin-left: auto;text-align: center; margin-right:
                            auto;">SHOW IN MAP</th>
              <th style="max-width: 64px;vertical-align:
                            middle;margin-left: auto;text-align: center; margin-right:
                            auto;">ENABLE/ DISABLE</th>
              <th></th>
              <th style="max-width: 60px; vertical-align: middle;
                            text-align: center;">ENABLE ALARM</th>
              <th style="vertical-align: middle; text-align: center;">TEXT
                MESSAGE
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let input of dinputs; let i= index">
              <td style="vertical-align: middle; text-align: center;">
                {{ i + 1 }}
              </td>
              <td style="text-align: center; vertical-align:
                            middle;margin-left: auto; margin-right: auto;">
                <input type="text" placeholder="IN{{ i + 1 }}" [(ngModel)]="input.name" [ngModelOptions]="{standalone:
                            true}">
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="checkbox" [(ngModel)]="input.showinmap" [ngModelOptions]="{standalone: true}">
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="checkbox" [(ngModel)]="input.enable" [ngModelOptions]="{standalone: true}">
              </td>
              <td style="vertical-align: middle;">
                <table style="text-align: center;">
                  <tr>
                    <td>0 Means</td>
                    <br><br>
                  </tr>
                  <tr>
                    <td>1 Means</td>
                  </tr>
                </table>
              </td>
              <td style="vertical-align: middle;">
                <table style="text-align: center;">
                  <tr>
                    <td style="vertical-align: middle;margin-left: auto;
                                        margin-right: auto; text-align: center;">
                      <input type="checkbox" [(ngModel)]="input.enable_alarm0" [ngModelOptions]="{standalone: true}"
                        style="margin-left: 20px;">
                    </td>
                    <br><br>
                  </tr>
                  <tr>
                    <td style="vertical-align: middle;margin-left: auto;
                                        margin-right: auto; text-align: center;">
                      <input type="checkbox" [(ngModel)]="input.enable_alarm1" [ngModelOptions]="{standalone: true}"
                        style="margin-left: 20px;">
                    </td>
                  </tr>
                </table>
              </td>
              <td style="vertical-align: middle;">
                <table style="text-align: center;">
                  <tr>
                    <td><input type="text" placeholder="Text Alarm 0" [(ngModel)]="input.text0"
                        [ngModelOptions]="{standalone: true}" style="text-align: center;">
                    </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="Text Alarm 1" [(ngModel)]="input.text1"
                        [ngModelOptions]="{standalone: true}" style="text-align: center;">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-inverse btn-form">Save
          Digital Inputs</button>
      </form>
    </div>
  </div>
  <div class="tile" style="min-height: 240px; min-width: 200px;
        overflow-x: auto;">
    <h3 class="tile-title" style="font-size:18px">Digital Outputs</h3>
    <br />
    <!-- Digital Outputs -->
    <div class="block-area" id="defaultStyle">
      <form #f="ngForm" (ngSubmit)="setupDigitalOutput()">
        <table class="tile table table-bordered table-striped">
          <thead>
            <tr>
              <th></th>
              <th style="text-align: center; min-width:
                            50px;vertical-align: middle;margin-left: auto;
                            margin-right: auto;">NAME</th>
              <th style="vertical-align: middle; text-align: center;">0
                MEANS
              </th>
              <th style="vertical-align: middle; text-align: center;">1
                MEANS
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let output of doutputs.channels1; let i= index">
              <td style="vertical-align: middle; text-align: center;">
                {{ output.channelId }}
              </td>
              <td style="text-align: center; vertical-align:
                            middle;margin-left: auto; margin-right: auto;">
                <input type="text" placeholder="OUT{{ i + 1 }}" [(ngModel)]="output.name"
                  [ngModelOptions]="{standalone: true}">
              </td>
              <td style="text-align: center; vertical-align:
                            middle;margin-left: auto; margin-right: auto;">
                <input type="text" placeholder="0" [(ngModel)]="output.mean0" [ngModelOptions]="{standalone: true}">
              </td>
              <td style="text-align: center; vertical-align:
                            middle;margin-left: auto; margin-right: auto;">
                <input type="text" placeholder="1" [(ngModel)]="output.mean1" [ngModelOptions]="{standalone: true}">
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-inverse btn-form">Save
          Digital Outputs</button>
      </form>
    </div>
  </div>
  <div class="tile" style="min-height: 240px; min-width: 200px;
        overflow-x: auto;">
    <h3 class="tile-title" style="font-size:18px">BATTERY VOLTAGE &
      SOLAR VOLTAGE
    </h3>
    <br />
    <!-- Controller Health -->
    <div class="block-area" id="defaultStyle">
      <form #f="ngForm" (ngSubmit)="setupVoltage()">
        <table class="tile table table-bordered table-striped">
          <thead>
            <tr>
              <th style="max-width: 80px;"></th>
              <th style="max-width: 40px; vertical-align: middle;
                            text-align: center;">ENABLE ALARM</th>
              <th style="max-width: 80px;vertical-align: middle;
                            text-align: center;">LOW VOLTAGE ALARM VALUE</th>
            </tr>
          </thead>
          <tbody *ngFor="let voltage of voltages;">
            <tr>
              <td style="vertical-align: middle; text-align: center;">Battery
                Voltage
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="checkbox" [(ngModel)]="voltage.low_battery_alarm_enable"
                  [ngModelOptions]="{standalone: true}">
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="text" [(ngModel)]="voltage.low_battery_alarm" [ngModelOptions]="{standalone: true}">
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle; text-align: center;">Solar
                Voltage
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="checkbox" [(ngModel)]="voltage.low_solar_alarm_enable"
                  [ngModelOptions]="{standalone: true}">
              </td>
              <td style="vertical-align: middle;margin-left: auto;
                            margin-right: auto; text-align: center;">
                <input type="text" [(ngModel)]="voltage.low_solar_alarm" [ngModelOptions]="{standalone: true}">
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-inverse btn-form">Save
          Voltage</button>
      </form>
    </div>
  </div>
  <div class="tile" style="min-height: 240px; min-width: 200px;
        overflow-x: auto;">
    <h3 class="tile-title" style="font-size:18px">USER ALARM LIST</h3>
    <br />
    <!-- User Alarm -->
    <div class="block-area" id="defaultStyle">
      <table class="tile table table-bordered table-striped">
        <thead>
          <tr>
            <th style="vertical-align: middle; text-align: center;"><input type="checkbox"></th>
            <th style="vertical-align: middle; text-align: center;">FIRST
              NAME
            </th>
            <th style="vertical-align: middle; text-align: center;">LAST
              NAME
            </th>
            <th style="vertical-align: middle; text-align: center;">MOBILE</th>
            <th style="vertical-align: middle; text-align: center;">EMAIL
              ID
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-inverse btn-form">Save</button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color: white">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <table class="table" style="border: solid 1px; border-color:
                    #0064b3;">
          <thead style="background-color: #0064b3;">
            <th></th>
            <th style="text-align: center;">Controllers</th>
            <th style="text-align: center;">Alarms</th>
          </thead>
          <tbody>
            <tr *ngFor="let controller of controllers">
              <td style="text-align: center;"><input type="radio" name="controller" [value]="controller.uid"></td>
              <td style="color: black; text-align: center;">{{
                                controller.uid }} - {{ controller.name }}
              </td>
              <td style="color: black; text-align: center;">!</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sendSetup" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top: 20px;">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-blur" style="background-color: black;">
      <div class="modal-body">
        <h4 class="text-center"><strong>Sending Settings to the
            Controller...({{ currentUpdatedAinput + 1 }})</strong>
        </h4>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="sendSetupError" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top: 20px;">
  <div class="modal-dialog">
    <div class="modal-content" id="modal-blur" style="background-color: black;">
      <div class="modal-body">
        <h4 class="text-center">
          <strong> Oops, device is busy. Please try again in 30 seconds. </strong>
        </h4>
      </div>
    </div>
  </div>
</div>
