.table {
  background-image: linear-gradient(
    to right top,
    #051937,
    #0f2d55,
    #174374,
    #1b5b95,
    #1b74b7
  );
}
.choose-project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partial-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.subpage-logo img {
  width: 50%;
  margin-top: 50px;
}

.choose-project-table {
  margin-top: 40px;
}

.partial-header {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 0px 0px 0px;

  top: 0px;
  right: 0px;
}
.partial-header a {
  color: #103b5f;
}
.partial-header i {
  font-size: 2em;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .partial-content {
    width: 90%;
  }

  .choose-project-table th {
    font-size: 9px;
  }

  .subpage-logo img {
    width: auto;
    height: 40vw;
    padding: 5vw;
    padding-top: 0vw;
    margin: 0px;
  }
}

.row:before {
  display: none;
}
.row:after {
  display: none;
}

label {
  font-family: "open-sans-semibold";
  margin: 0px;
}
span {
  font-family: "open-sans-light";
  margin: 0px;
}

.projects {
  display: block;
}
.project {
  display: block;
  width: 100%;
  background-image: linear-gradient(to right top, #153c6b, #1b74b7);
  border: 2px solid #103b5f;
  border-radius: 3px;

  margin-bottom: 1.5em;
}

.row {
  margin: 0px;
  padding: 0px;

  width: 100%;

  box-sizing: border;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.row:last-child {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row.top .col {
  color: #fff;
  font-family: "open-sans-semibold";

  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.05);
}
.row.top .col:first-child {
  text-align: center;
  background-color: #103b5f;
  width: 100%;
  padding: 0.5em;
}
.row.top .col:last-child {
  width: 100%;
  padding: 0.5em;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
}

.row.bottom .col {
  width: 33.33%;
}

.name {
  width: 100%;
  text-align: left;
}

.date {
}
.date span {
  font-size: 0.9em;
}
.date label {
  font-size: 0.9em;
}

.description {
  padding: 0.5em 0.5em;
  text-align: left;
}

.row.middle .col {
  width: 100%;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  align-items: flex-start;
}

.status img {
  padding: 0.5em;
  max-width: 2.5em;
}
.status.notifications{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.status.notifications .alarm img{
  display: block;
  margin: 0 auto;
}

.client label {
  font-size: 0.8em;
}

.select {
  background-color: white;
  font-family: "open-sans-semibold";
  color: #062f50;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px solid white;
  border-radius: 0.25em;
}

.notification-wrapper{
  position:absolute;
}
.notification-bubble{

  padding: 0.25em;
  width: 2em;
  height: 2em;
  background-color: crimson;
  border-radius: 1em;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 900;

}

.alarm.warning{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.alarm.warning .notification-bubble{
  position: relative;
}
.alarm.warning span{
  position: relative;
}

.onMobile {
  display: block !important;
}
.onDesktop {
  display: none !important;
}

@media (min-width: 600px) {
  .onMobile {
    display: none !important;
  }
  .onDesktop {
    display: block !important;
  }

  .alarm.warning .notification-bubble {
    left: 1.5em;
    position: relative;
    top: -3.5em;
}

}

.table.table-responsive.tile.choose-project-table tr td #select{
  float: left;
}
