img {
  border: solid 5px;
  border-color: #0f2d55;
  background-color: white;
}
.modal{
  z-index: 10000;
}

.notifications{

  padding: 0.25em;
  width: 2em;
  height: 2em;
  background-color: crimson;
  color: white;
  border-radius: 1em;
  color: white;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 900;
position: relative;
  top: -1em;
  left: -1em;
}


.notifications-icons .notifications{
  top: -1em;
  left: -0.5em;
  background-color: white;
  color: crimson;
}

